.Dashcontent{
    flex: 4;
}
.cards{
    /* transform: translateY(35px); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:rgb(10, 10, 10);
    margin-top: 25px;
}
.dash-card{
    position: relative;
    text-align: center;
    font-weight: bold;
    width: 320px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(183, 227, 235, 0.938);
    background: #ecf3f8;
    cursor: pointer;
    
}

.cardheader{
    font-size: 30px;
    background-color: #337ab7;
    height: 120px;
    border-radius: 20px;
    color: white;
    
}
.cardbody{
    font-size: 40px;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cardheader2{
    font-size: 30px;
    background-color: #5cb85c;
    height: 120px;
    border-radius: 20px;
    color: white;
}
.cardbody2{
    font-size: 40px;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cardheader3{
    font-size: 30px;
    background-color:#f0ad4e ;
    height: 120px;
    border-radius: 20px;
    color: white;
}
.cardbody3{
    font-size: 40px;
    height: 60px;
}
.map{

    margin: 5rem;

}
